Repository GridTools/gt4py: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, validate

.pre-commit-config.yaml:

minimum_pre_commit_version: 3.8.0
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]
        exclude: tach.toml
      - id: pretty-format-yaml
        args: [--autofix, --preserve-quotes, --indent, "2", --offset, "2"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [markdown, json]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: destroyed-symlinks

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        types: [python]
        args: [--comment-style, "|#|", --license-filepath, ./HEADER.txt, --fuzzy-match-generates-todo]

  # The following hooks use development tools which are already managed by 'uv'.
  # To avoid inconsistencies between the development and the pre-commit
  # environments, we run them as local hooks so we can make sure they use
  # exactly the same versions without duplicating the version info.
  - repo: local
    hooks:
      - &uv-managed-hook
        id: uv-managed-base-hook
        name: uv managed hook
        entry: uv --version
        language: python
        additional_dependencies: [uv>=0.6.10]
        stages: [pre-commit]

      - <<: *uv-managed-hook
        id: uv-lock
        name: uv-lock
        description: "Automatically run 'uv lock' on your project dependencies"
        entry: uv lock
        files: ^(uv\.lock|pyproject\.toml|uv\.toml)$
        pass_filenames: false

      - <<: *uv-managed-hook
        id: ruff-check
        name: ruff checker
        entry: uv run --frozen --isolated --group dev ruff check --force-exclude --fix
        types_or: [python, pyi, jupyter]
        files: ^src/ # TODO(egparedes): add the `tests` folder here
        require_serial: true

      - <<: *uv-managed-hook
        id: ruff-format
        name: ruff formatter
        entry: uv run --frozen --isolated --group dev ruff format --force-exclude
        types_or: [python, pyi, jupyter]
        require_serial: true

      - <<: *uv-managed-hook
        id: tach
        name: tach module dependency checker
        entry: uv run --frozen --isolated --group dev tach check
        pass_filenames: false

      - <<: *uv-managed-hook
        id: mypy
        name: mypy static type checker
        entry: uv run --frozen --isolated --group dev mypy --no-install-types src/
        types_or: [python, pyi]
        pass_filenames: false

      - <<: *uv-managed-hook
        id: validate
        name: validate pyproject.toml
        entry: uv run --frozen --isolated --group dev validate-pyproject pyproject.toml
        files: ^pyproject\.toml$
        pass_filenames: false

rename "external typing" -> "typing exports"
  .github/workflows/code-quality.yml
  noxfile.py
  pyproject.toml
  src/gt4py/next/__init__.py
  src/gt4py/next/ffront/fbuiltins.py
  uv.lock
Due: uv-lock, validate

docs[cartesian]: Update ADRs with recent development
  docs/development/ADRs/cartesian/README.md
  docs/development/ADRs/cartesian/backend/dace-cpu-KJI.md
  docs/development/ADRs/cartesian/backend/dace-cpu-kfirst.md
  docs/development/ADRs/cartesian/backend/dace-openmp.md
  docs/development/ADRs/cartesian/backend/dace-version.md
  docs/development/ADRs/cartesian/experimental/iteration-index-k.md
Due: none

Update OpenMP support
  docs/development/ADRs/cartesian/backend/dace-openmp.md
Due: none

Address PR reviews
  src/gt4py/next/program_processors/runners/dace/transformations/fuse_horizontal_conditionblocks.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_fuse_horizontal_conditionblocks.py
Due: none

Make formatting happy
  src/gt4py/next/program_processors/runners/dace/transformations/fuse_horizontal_conditionblocks.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_fuse_horizontal_conditionblocks.py
Due: none

Disable OpenMP for apple-clang Freeze dataclass and centralize defaults
  src/gt4py/cartesian/utils/compiler.py
Due: none

use actual (non-any) dimension types while type checking
  src/gt4py/next/common.py
  src/gt4py/next/embedded/nd_array_field.py
  src/gt4py/next/type_system/mypy_plugin.py
Due: none

Fix test
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_fuse_horizontal_conditionblocks.py
Due: none

Pass the `openmp` flag through
  src/gt4py/cartesian/config.py
Due: none

Fix parent_nsdfg_node
  src/gt4py/next/program_processors/runners/dace/transformations/fuse_horizontal_conditionblocks.py
Due: none

Address last comments
  src/gt4py/next/program_processors/runners/dace/transformations/fuse_horizontal_conditionblocks.py
Due: none

ci: update github actions dependencies
  .github/actions/get-python-versions/action.yml
  .github/workflows/code-quality.yml
  .github/workflows/daily-ci.yml
  .github/workflows/deploy-release.yml
  .github/workflows/test-components.yml
  .github/workflows/test-examples.yml
  .github/workflows/test-package.yml
Due: none

ci: simplify daily macos
  .github/workflows/daily-ci.yml
Due: none

feat[cartesian]: Introduce default compiler flags (#2520)
  src/gt4py/cartesian/config.py
  src/gt4py/cartesian/utils/compiler.py
Due: none

perf[next-dace]: Allow more fusion of ConditionalBlocks (#2517)
  src/gt4py/next/program_processors/runners/dace/transformations/fuse_horizontal_conditionblocks.py
  src/gt4py/next/program_processors/runners/dace/transformations/move_dataflow_into_if_body.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_fuse_horizontal_conditionblocks.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_move_dataflow_into_if_body.py
Due: none

Enable CSCS-CI GPU pipeline on Python 3.14
  ci/cscs-ci.yml
Due: none

Releasing v1.1.7
  CHANGELOG.md
  pyproject.toml
  src/gt4py/__about__.py
Due: uv-lock, validate

run uv sync
  pyproject.toml
  uv.lock
Due: uv-lock, validate

Added cuda13
  pyproject.toml
  uv.lock
Due: uv-lock, validate

Releasing v1.1.7 (#2523)
  CHANGELOG.md
  pyproject.toml
  src/gt4py/__about__.py
Due: uv-lock, validate

[wip] fix dimension types
  src/gt4py/next/embedded/nd_array_field.py
  src/gt4py/next/type_system/mypy_plugin.py
Due: none

Split GPU source code compile flags off CXX flags Move GPU compiler configuration out in `compiler.py` Force FMA (`fmad`) off for `-O0`
  src/gt4py/cartesian/config.py
  src/gt4py/cartesian/utils/compiler.py
Due: none

Fix local version part
  pyproject.toml
  scripts/update.py
  src/gt4py/__about__.py
Due: uv-lock, validate

Update to current version
  pyproject.toml
  src/gt4py/__about__.py
Due: uv-lock, validate

Fix unit test
  tests/package_tests/unit_tests/test_version.py
Due: none

Fallback to a different strategy wrapping the versioningit calls to avoid any output being written
  pyproject.toml
  scripts/update.py
  src/gt4py/__about__.py
Due: uv-lock, validate

fix: separate cuda compile args and cleanup
  src/gt4py/cartesian/config.py
  src/gt4py/cartesian/utils/compiler.py
Due: none

mypy plugin: stop blocking variadic 'Dims' types
  src/gt4py/next/type_system/mypy_plugin.py
Due: none

Simplify condition in visitors with Enums
  src/gt4py/eve/visitors.py
Due: none

fix|build[cartesian]: Fix NVCC default flags for `-O0` and refactor configuration out of `config.py` (#2524)
  src/gt4py/cartesian/config.py
  src/gt4py/cartesian/utils/compiler.py
Due: none

feat[next]: support Enums as constant namespaces for value inlining (#2515)
  src/gt4py/eve/utils.py
  src/gt4py/eve/visitors.py
  src/gt4py/next/ffront/foast_passes/closure_var_folding.py
  src/gt4py/next/type_system/type_translation.py
  tests/next_tests/integration_tests/feature_tests/ffront_tests/test_execution.py
  tests/next_tests/unit_tests/ffront_tests/test_foast_to_gtir.py
  tests/next_tests/unit_tests/ffront_tests/test_func_to_foast.py
  tests/next_tests/unit_tests/type_system_tests/test_type_translation.py
Due: none

ci: update github actions dependencies (#2525)
  .github/actions/get-python-versions/action.yml
  .github/workflows/code-quality.yml
  .github/workflows/daily-ci.yml
  .github/workflows/deploy-release.yml
  .github/workflows/test-components.yml
  .github/workflows/test-examples.yml
  .github/workflows/test-package.yml
Due: none

get proper index computation on everything
  src/gt4py/cartesian/gtc/debug/debug_codegen.py
Due: none

pc
  src/gt4py/cartesian/gtc/debug/debug_codegen.py
Due: none

mypy plugin: give up on Dim types in case of error
  pyproject.toml
  src/gt4py/next/type_system/mypy_plugin.py
  typing_tests/test_next.yaml
  uv.lock
Due: uv-lock, validate

fix uv merge conflict
  uv.lock
Due: uv-lock

mypy plugin: add a clarifying comment
  src/gt4py/next/type_system/mypy_plugin.py
Due: none

Add entry-point synchronization
  src/gt4py/next/program_processors/runners/dace/workflow/translation.py
Due: none

edit
  src/gt4py/next/program_processors/runners/dace/workflow/translation.py
Due: none
