Repository GridTools/gt4py: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, validate

.pre-commit-config.yaml:

minimum_pre_commit_version: 3.8.0
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]
        exclude: tach.toml
      - id: pretty-format-yaml
        args: [--autofix, --preserve-quotes, --indent, "2", --offset, "2"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [markdown, json]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: destroyed-symlinks

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        types: [python]
        args: [--comment-style, "|#|", --license-filepath, ./HEADER.txt, --fuzzy-match-generates-todo]

  # The following hooks use development tools which are already managed by 'uv'.
  # To avoid inconsistencies between the development and the pre-commit
  # environments, we run them as local hooks so we can make sure they use
  # exactly the same versions without duplicating the version info.
  - repo: local
    hooks:
      - &uv-managed-hook
        id: uv-managed-base-hook
        name: uv managed hook
        entry: uv --version
        language: python
        additional_dependencies: [uv>=0.6.10]
        stages: [pre-commit]

      - <<: *uv-managed-hook
        id: uv-lock
        name: uv-lock
        description: "Automatically run 'uv lock' on your project dependencies"
        entry: uv lock
        files: ^(uv\.lock|pyproject\.toml|uv\.toml)$
        pass_filenames: false

      - <<: *uv-managed-hook
        id: ruff-check
        name: ruff checker
        entry: uv run --frozen --isolated --group dev ruff check --force-exclude --fix
        types_or: [python, pyi, jupyter]
        files: ^src/ # TODO(egparedes): add the `tests` folder here
        require_serial: true

      - <<: *uv-managed-hook
        id: ruff-format
        name: ruff formatter
        entry: uv run --frozen --isolated --group dev ruff format --force-exclude
        types_or: [python, pyi, jupyter]
        require_serial: true

      - <<: *uv-managed-hook
        id: tach
        name: tach module dependency checker
        entry: uv run --frozen --isolated --group dev tach check
        pass_filenames: false

      - <<: *uv-managed-hook
        id: mypy
        name: mypy static type checker
        entry: uv run --frozen --isolated --group dev mypy --no-install-types src/
        types_or: [python, pyi]
        pass_filenames: false

      - <<: *uv-managed-hook
        id: validate
        name: validate pyproject.toml
        entry: uv run --frozen --isolated --group dev validate-pyproject pyproject.toml
        files: ^pyproject\.toml$
        pass_filenames: false

Improve error message
  src/gt4py/next/ffront/foast_passes/type_deduction.py
Due: none

Improve error message
  tests/next_tests/unit_tests/ffront_tests/test_type_deduction.py
Due: none

Format
  tests/next_tests/unit_tests/ffront_tests/test_type_deduction.py
Due: none

Improve error message
  src/gt4py/next/ffront/foast_passes/type_deduction.py
  tests/next_tests/unit_tests/ffront_tests/test_type_deduction.py
Due: none

Fix failing tests
  src/gt4py/next/ffront/foast_passes/type_deduction.py
  src/gt4py/next/iterator/type_system/type_synthesizer.py
  tests/next_tests/unit_tests/ffront_tests/test_func_to_foast.py
  tests/next_tests/unit_tests/ffront_tests/test_type_deduction.py
Due: none

Improve new node creation
  src/gt4py/next/program_processors/runners/dace/transformations/move_dataflow_into_if_body.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_move_dataflow_into_if_body.py
Due: none

Addressed Philip's comments
  src/gt4py/next/program_processors/runners/dace/transformations/move_dataflow_into_if_body.py
Due: none

fix[next]: Fix where & concat_where with named collections (#2511)
  src/gt4py/next/ffront/experimental.py
  src/gt4py/next/ffront/fbuiltins.py
  src/gt4py/next/ffront/foast_passes/type_deduction.py
  src/gt4py/next/ffront/lowering_utils.py
  src/gt4py/next/iterator/type_system/type_synthesizer.py
  tests/next_tests/integration_tests/feature_tests/ffront_tests/test_named_collections.py
  tests/next_tests/integration_tests/feature_tests/ffront_tests/test_where.py
  tests/next_tests/unit_tests/ffront_tests/test_func_to_foast.py
  tests/next_tests/unit_tests/ffront_tests/test_type_deduction.py
Due: none

Updated docstring
  src/gt4py/next/program_processors/runners/dace/transformations/move_dataflow_into_if_body.py
Due: none

Relax conditions of FuseHorizontalConditionBlocks and sort them based on conditions' number
  src/gt4py/next/program_processors/runners/dace/transformations/fuse_horizontal_conditionblocks.py
Due: none

Remove restriction for number of outputs in branches of ConditionalBlocks being the same in MoveDataflowIntoIfBody
  src/gt4py/next/program_processors/runners/dace/transformations/move_dataflow_into_if_body.py
Due: none

Handle remaining comments
  src/gt4py/next/program_processors/runners/dace/transformations/move_dataflow_into_if_body.py
Due: none

WIP perf[cartesian]: optimize dace transpile times
  src/gt4py/cartesian/backend/dace_backend.py
Due: none

Added test with xfail that shows restriction of current transformation
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_move_dataflow_into_if_body.py
Due: none

Debugging additions for issue in test_if_mover_dependent_branch_5
  src/gt4py/next/program_processors/runners/dace/transformations/move_dataflow_into_if_body.py
Due: none

Added test for MoveDataflowIntoIfBody with different number of outputs in the branches
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_move_dataflow_into_if_body.py
Due: none

Create test with 2 conditional blocks where the one doesn't have a false branch
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_fuse_horizontal_conditionblocks.py
Due: none

Added test regarding unexpected state names for FuseHorizontalConditionBlocks
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_fuse_horizontal_conditionblocks.py
Due: none

make formatting happy
  src/gt4py/next/program_processors/runners/dace/transformations/fuse_horizontal_conditionblocks.py
Due: none

edit default tag to indicate dev version (only used in shallow clones)
  pyproject.toml
Due: uv-lock, validate

Fix versioningit complaints
  pyproject.toml
  scripts/update.py
  src/gt4py/__about__.py
Due: uv-lock, validate

Started with some modifications and imporvements not done yet.
  src/gt4py/next/program_processors/runners/dace/transformations/move_dataflow_into_if_body.py
  src/gt4py/next/program_processors/runners/dace/transformations/utils.py
Due: none

perf[next-dace]: Enhance MoveDataflowIntoIfBody transformation (#2514)
  src/gt4py/next/program_processors/runners/dace/transformations/move_dataflow_into_if_body.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_move_dataflow_into_if_body.py
Due: none

replace Callable -> FunctionType casts with assert isinstance
  src/gt4py/next/ffront/decorator.py
Due: none

added typing precision for field comparison ops
  src/gt4py/next/common.py
  src/gt4py/next/ffront/fbuiltins.py
  src/gt4py/next/iterator/embedded.py
Due: none

experiment with default tag again
  pyproject.toml
Due: uv-lock, validate

get rid of local version info in default tag for now
  pyproject.toml
Due: uv-lock, validate

static __all__ in fbuiltins, direct assert replaces test module
  src/gt4py/next/ffront/fbuiltins.py
  src/gt4py/next/program_processors/runners/dace/transformations/remove_scalar_copies.py
  tests/next_tests/test_next_exports.py
Due: none

remove need for attr-defined ignores for fbuiltins members
  pyproject.toml
  src/gt4py/next/embedded/nd_array_field.py
  src/gt4py/next/ffront/fbuiltins.py
Due: uv-lock, validate

Handle better ConditionalBlock horizontal fusion by checking the conditions of the two blocks
  src/gt4py/next/program_processors/runners/dace/transformations/fuse_horizontal_conditionblocks.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_fuse_horizontal_conditionblocks.py
Due: none

perf: avoid calls to getdebuginfo when freezing origin/domain
  src/gt4py/cartesian/backend/dace_backend.py
  uv.lock
Due: uv-lock

Introduce default compiler flags and pass them as default for the config env variable read
  src/gt4py/cartesian/config.py
  src/gt4py/cartesian/utils/compiler.py
Due: none

perf[cartesian]: reduce SDFG construction time in dace backends (#2519)
  src/gt4py/cartesian/backend/dace_backend.py
  uv.lock
Due: uv-lock

Protect against potential attribute failure (unprobable) and make mypy happy
  src/gt4py/cartesian/utils/compiler.py
Due: none

Fix failing test
  src/gt4py/eve/visitors.py
Due: none

Fix format
  src/gt4py/eve/visitors.py
Due: none

experiment with removing extraneous local version info
  pyproject.toml
  src/gt4py/__about__.py
Due: uv-lock, validate

revert failed experiment
  pyproject.toml
  src/gt4py/__about__.py
Due: uv-lock, validate
