Repository GridTools/gt4py: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, validate

uv-lock:
  name: uv-lock
  entry: uv lock
  language: python
  additional_dependencies:
  - uv>=0.6.10
  stages:
  - pre-commit
  description: Automatically run 'uv lock' on your project dependencies
  pass_filenames: false

validate:
  name: validate pyproject.toml
  entry: uv run --frozen --isolated --group dev validate-pyproject pyproject.toml
  language: python
  additional_dependencies:
  - uv>=0.6.10
  stages:
  - pre-commit
  pass_filenames: false

fix[next-dace]: block state fusion creating a WAR hazard on global data (#2817)
  src/gt4py/next/program_processors/runners/dace/transformations/state_fusion.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_state_fusion.py
Due: none

switch to dace dev branch
  pyproject.toml
  uv.lock
Due: uv-lock, validate

fix remove_access_node_copies
  src/gt4py/next/program_processors/runners/dace/transformations/remove_access_node_copies.py
Due: none

update uv lock
  uv.lock
Due: uv-lock

fix[next-dace]: move variable-length Register transients to GPU_Global
  src/gt4py/next/program_processors/runners/dace/transformations/gpu_utils.py
Due: none

Revert "fix[next-dace]: move variable-length Register transients to GPU_Global"
  src/gt4py/next/program_processors/runners/dace/transformations/gpu_utils.py
Due: none

Path conditions:
  uv-lock: any of: ^(uv\.lock|pyproject\.toml|uv\.toml)$
  validate: any of: ^pyproject\.toml$
