Repository GridTools/gt4py: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, validate

uv-lock:
  name: uv-lock
  entry: uv lock
  language: python
  additional_dependencies:
  - uv>=0.6.10
  stages:
  - pre-commit
  description: Automatically run 'uv lock' on your project dependencies
  pass_filenames: false

validate:
  name: validate pyproject.toml
  entry: uv run --frozen --isolated --group dev validate-pyproject pyproject.toml
  language: python
  additional_dependencies:
  - uv>=0.6.10
  stages:
  - pre-commit
  pass_filenames: false

update DaCe again: fix loop meta read memlets
  uv.lock
Due: uv-lock

No need to define these symbols anymore
  src/gt4py/cartesian/gtc/dace/treeir_to_stree.py
Due: none

sdfg freezing: fix input/output registration inside control flow regions
  src/gt4py/cartesian/backend/dace_backend.py
  tests/cartesian_tests/integration_tests/multi_feature_tests/test_code_generation.py
  tests/cartesian_tests/integration_tests/multi_feature_tests/test_dace_parsing.py
Due: none

dace update (propagate fvtp2d fix)
  uv.lock
Due: uv-lock

update dace again (fix from mainline)
  uv.lock
Due: uv-lock

update dace (cleanup from main)
  uv.lock
Due: uv-lock

Update loop struture tests
  tests/cartesian_tests/unit_tests/backend_tests/test_dace_backend.py
Due: none

update dace (removed warnings from main)
  uv.lock
Due: uv-lock

update dace (name propagation)
  uv.lock
Due: uv-lock

more work on getting the number of errors down ...
  src/gt4py/cartesian/gtc/dace/treeir_to_stree.py
  uv.lock
Due: uv-lock

Update DaCe: speedup lookup of CF region closure
  uv.lock
Due: uv-lock

Update DaCe (fewer warnings)
  uv.lock
Due: uv-lock

cleanup: sdfg.simplify() can now `skip=` passes
  src/gt4py/cartesian/backend/dace_backend.py
Due: none

rename test to avoid duplicate name
  tests/cartesian_tests/integration_tests/multi_feature_tests/test_code_generation.py
Due: none

Get DaCe with stree from branch on GridTools/dace
  pyproject.toml
  uv.lock
Due: uv-lock, validate

Updated the description.
  src/gt4py/next/program_processors/runners/dace/transformations/concat_where_mapper.py
Due: none

Add unit tests
  src/gt4py/next/config.py
  src/gt4py/next/instrumentation/metrics.py
  tests/next_tests/unit_tests/instrumentation_tests/test_metrics.py
Due: none

Rename
  src/gt4py/next/config.py
  tests/next_tests/unit_tests/instrumentation_tests/test_metrics.py
Due: none

Added a function that can be used to check if it works.
  src/gt4py/next/program_processors/runners/dace/transformations/concat_where_mapper.py
Due: none

Fix typing
  src/gt4py/next/config.py
Due: none

Address copilot issues
  src/gt4py/next/config.py
  src/gt4py/next/instrumentation/metrics.py
  tests/next_tests/unit_tests/instrumentation_tests/test_metrics.py
Due: none

Added a transformation wrapper.
  src/gt4py/next/program_processors/runners/dace/transformations/concat_where_mapper.py
Due: none

feat[next]: Compile time domains (#2173)
  src/gt4py/next/ffront/decorator.py
  src/gt4py/next/ffront/past_to_itir.py
  src/gt4py/next/iterator/ir_utils/domain_utils.py
  src/gt4py/next/iterator/ir_utils/ir_makers.py
  src/gt4py/next/iterator/transforms/constant_folding.py
  src/gt4py/next/iterator/transforms/global_tmps.py
  src/gt4py/next/iterator/transforms/infer_domain.py
  src/gt4py/next/iterator/transforms/pass_manager.py
  src/gt4py/next/iterator/transforms/replace_get_domain_range_with_constants.py
  src/gt4py/next/iterator/transforms/symbol_ref_utils.py
  src/gt4py/next/otf/arguments.py
  src/gt4py/next/otf/compiled_program.py
  src/gt4py/next/otf/options.py
  src/gt4py/next/program_processors/codegens/gtfn/gtfn_module.py
  src/gt4py/next/program_processors/runners/dace/workflow/translation.py
  tests/next_tests/integration_tests/feature_tests/ffront_tests/test_compiled_program.py
  tests/next_tests/unit_tests/iterator_tests/ir_utils_test.py/test_domain_utils.py
  tests/next_tests/unit_tests/iterator_tests/transforms_tests/test_domain_inference.py
  tests/next_tests/unit_tests/iterator_tests/transforms_tests/test_replace_get_domain_range_with_constants.py
  tests/next_tests/unit_tests/otf_tests/test_compiled_program.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/test_dace_domain.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/test_gtir_to_sdfg.py
Due: none

Why does it work for some instances of the CI but not for all.
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/util.py
Due: none

Replicate closer the muphys case
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_scan_conditional_copy_removal.py
Due: none

Fixed a small issue with the mapping.
  src/gt4py/next/program_processors/runners/dace/transformations/concat_where_mapper.py
Due: none

This is absurdly complex.
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/util.py
Due: none

I think this function should be moved back into the test folder.
  src/gt4py/next/program_processors/runners/dace/transformations/utils.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_concat_where_replacer.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/util.py
Due: none

FieldAllocationNamespace version
  src/gt4py/next/allocators.py
  src/gt4py/next/constructors.py
  tests/next_tests/integration_tests/feature_tests/ffront_tests/ffront_test_utils.py
Due: none

fix kwarg
  src/gt4py/next/constructors.py
Due: none

Fix test
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_scan_conditional_copy_removal.py
Due: none

improve typing
  src/gt4py/next/constructors.py
  src/gt4py/next/embedded/nd_array_field.py
  tests/next_tests/unit_tests/test_constructors.py
Due: none

as_field: get device from data
  src/gt4py/next/constructors.py
Due: none

move type definition
  src/gt4py/_core/ndarray_utils.py
  src/gt4py/next/constructors.py
Due: none

refactor tests
  tests/next_tests/unit_tests/test_constructors.py
Due: none

cleanups
  src/gt4py/_core/ndarray_utils.py
  src/gt4py/next/constructors.py
Due: none

move and cleanup device translator
  src/gt4py/_core/ndarray_utils.py
  src/gt4py/next/constructors.py
  tests/core_tests/unit_tests/test_nd_array_utils.py
Due: none

Added a function to apply the transformation in bulk mode.
  src/gt4py/next/program_processors/runners/dace/transformations/concat_where_mapper.py
Due: none

Added some missing exports.
  src/gt4py/next/program_processors/runners/dace/transformations/__init__.py
Due: none

Removed some asserts.
  src/gt4py/next/program_processors/runners/dace/transformations/concat_where_mapper.py
Due: none

Path conditions:
  uv-lock: any of: ^(uv\.lock|pyproject\.toml|uv\.toml)$
  validate: any of: ^pyproject\.toml$
