Repository GridTools/gt4py: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, validate

.pre-commit-config.yaml:

minimum_pre_commit_version: 3.8.0
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]
        exclude: tach.toml
      - id: pretty-format-yaml
        args: [--autofix, --preserve-quotes, --indent, "2", --offset, "2"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [markdown, json]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: destroyed-symlinks

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        types: [python]
        args: [--comment-style, "|#|", --license-filepath, ./HEADER.txt, --fuzzy-match-generates-todo]

  # The following hooks use development tools which are already managed by 'uv'.
  # To avoid inconsistencies between the development and the pre-commit
  # environments, we run them as local hooks so we can make sure they use
  # exactly the same versions without duplicating the version info.
  - repo: local
    hooks:
      - &uv-managed-hook
        id: uv-managed-base-hook
        name: uv managed hook
        entry: uv --version
        language: python
        additional_dependencies: [uv>=0.6.10]
        stages: [pre-commit]

      - <<: *uv-managed-hook
        id: uv-lock
        name: uv-lock
        description: "Automatically run 'uv lock' on your project dependencies"
        entry: uv lock
        files: ^(uv\.lock|pyproject\.toml|uv\.toml)$
        pass_filenames: false

      - <<: *uv-managed-hook
        id: ruff-check
        name: ruff checker
        entry: uv run --frozen --isolated --group dev ruff check --force-exclude --fix
        types_or: [python, pyi, jupyter]
        files: ^src/ # TODO(egparedes): add the `tests` folder here
        require_serial: true

      - <<: *uv-managed-hook
        id: ruff-format
        name: ruff formatter
        entry: uv run --frozen --isolated --group dev ruff format --force-exclude
        types_or: [python, pyi, jupyter]
        require_serial: true

      - <<: *uv-managed-hook
        id: tach
        name: tach module dependency checker
        entry: uv run --frozen --isolated --group dev tach check
        pass_filenames: false

      - <<: *uv-managed-hook
        id: mypy
        name: mypy static type checker
        entry: uv run --frozen --isolated --group dev mypy --no-install-types src/
        types_or: [python, pyi]
        pass_filenames: false

      - <<: *uv-managed-hook
        id: validate
        name: validate pyproject.toml
        entry: uv run --frozen --isolated --group dev validate-pyproject pyproject.toml
        files: ^pyproject\.toml$
        pass_filenames: false

Finish renamings and fix doctests
  src/gt4py/next/backend.py
  src/gt4py/next/ffront/decorator.py
  src/gt4py/next/ffront/foast_to_past.py
  src/gt4py/next/ffront/func_to_foast.py
  src/gt4py/next/ffront/past_process_args.py
  src/gt4py/next/ffront/past_to_itir.py
  src/gt4py/next/ffront/stages.py
  src/gt4py/next/otf/arguments.py
  src/gt4py/next/otf/stages.py
  src/gt4py/next/otf/step_types.py
  src/gt4py/next/otf/toolchain.py
  src/gt4py/next/program_processors/codegens/gtfn/gtfn_module.py
  src/gt4py/next/program_processors/runners/dace/program.py
  src/gt4py/next/program_processors/runners/dace/workflow/translation.py
  src/gt4py/next/program_processors/runners/roundtrip.py
  tests/next_tests/unit_tests/ffront_tests/test_stages.py
  tests/next_tests/unit_tests/otf_tests/test_compiled_program.py
  tests/next_tests/unit_tests/program_processor_tests/codegens_tests/gtfn_tests/test_gtfn_module.py
Due: none

Fix notebook tests
  docs/user/next/advanced/HackTheToolchain.md
Due: none

Smallish improvements, mostly now there is an attribute for storing the symbols that are needed, but there is no control logic nor any nested handling.
  src/gt4py/next/program_processors/runners/dace/transformations/concat_where_mapper.py
Due: none

Fix more notebook tests
  docs/user/next/advanced/HackTheToolchain.md
Due: none

Cleanup
  src/gt4py/next/ffront/decorator.py
  src/gt4py/next/otf/options.py
  tests/next_tests/integration_tests/feature_tests/dace/test_orchestration.py
  tests/next_tests/integration_tests/feature_tests/ffront_tests/test_compiled_program.py
  tests/next_tests/unit_tests/otf_tests/test_compiled_program.py
Due: none

Fix dace test
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/test_dace_bindings.py
Due: none

More renames
  src/gt4py/next/backend.py
  src/gt4py/next/ffront/decorator.py
  src/gt4py/next/ffront/foast_to_gtir.py
  src/gt4py/next/ffront/foast_to_past.py
  src/gt4py/next/ffront/func_to_foast.py
  src/gt4py/next/ffront/func_to_past.py
  src/gt4py/next/ffront/past_passes/linters.py
  src/gt4py/next/ffront/past_to_itir.py
  src/gt4py/next/ffront/stages.py
  src/gt4py/next/typing.py
Due: none

fix[next]: Fix different static args after `with_backend` (#2475)
  src/gt4py/next/ffront/decorator.py
  src/gt4py/next/otf/options.py
  tests/next_tests/integration_tests/feature_tests/dace/test_orchestration.py
  tests/next_tests/integration_tests/feature_tests/ffront_tests/test_compiled_program.py
  tests/next_tests/unit_tests/otf_tests/test_compiled_program.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/test_dace_bindings.py
Due: none

fix[next]: remove indeterminism in closure_var extraction
  src/gt4py/next/ffront/source_utils.py
Due: none

There is a lot of work waiting for me next monday.
  src/gt4py/next/program_processors/runners/dace/transformations/concat_where_mapper.py
  src/gt4py/next/program_processors/runners/dace/transformations/utils.py
Due: none

fix[next]: remove indeterminism in closure_var extraction (#2476)
  src/gt4py/next/ffront/source_utils.py
Due: none

Even more renames and changes in typings
  src/gt4py/next/backend.py
  src/gt4py/next/ffront/decorator.py
  src/gt4py/next/ffront/field_operator_ast.py
  src/gt4py/next/ffront/foast_to_gtir.py
  src/gt4py/next/ffront/foast_to_past.py
  src/gt4py/next/ffront/func_to_foast.py
  src/gt4py/next/ffront/func_to_past.py
  src/gt4py/next/ffront/past_passes/linters.py
  src/gt4py/next/ffront/past_process_args.py
  src/gt4py/next/ffront/past_to_itir.py
  src/gt4py/next/ffront/stages.py
  src/gt4py/next/otf/arguments.py
  src/gt4py/next/otf/compiled_program.py
  src/gt4py/next/otf/stages.py
  src/gt4py/next/otf/step_types.py
  src/gt4py/next/otf/toolchain.py
  src/gt4py/next/program_processors/codegens/gtfn/gtfn_module.py
  src/gt4py/next/program_processors/runners/dace/program.py
  src/gt4py/next/program_processors/runners/dace/workflow/translation.py
  src/gt4py/next/program_processors/runners/roundtrip.py
  tests/next_tests/unit_tests/ffront_tests/test_stages.py
  tests/next_tests/unit_tests/otf_tests/test_compiled_program.py
  tests/next_tests/unit_tests/program_processor_tests/codegens_tests/gtfn_tests/test_gtfn_module.py
Due: none

And more renaming and refactorings
  src/gt4py/next/backend.py
  src/gt4py/next/ffront/past_process_args.py
  src/gt4py/next/ffront/past_to_itir.py
  src/gt4py/next/otf/binding/nanobind.py
  src/gt4py/next/otf/compilation/build_systems/cmake.py
  src/gt4py/next/otf/compilation/build_systems/compiledb.py
  src/gt4py/next/otf/compilation/cache.py
  src/gt4py/next/otf/compilation/compiler.py
  src/gt4py/next/otf/recipes.py
  src/gt4py/next/otf/stages.py
  src/gt4py/next/otf/step_types.py
  src/gt4py/next/program_processors/codegens/gtfn/gtfn_module.py
  src/gt4py/next/program_processors/runners/dace/workflow/bindings.py
  src/gt4py/next/program_processors/runners/dace/workflow/compilation.py
  src/gt4py/next/program_processors/runners/dace/workflow/translation.py
  src/gt4py/next/program_processors/runners/gtfn.py
  src/gt4py/next/program_processors/runners/roundtrip.py
  tests/next_tests/unit_tests/otf_tests/compilation_tests/build_systems_tests/conftest.py
  tests/next_tests/unit_tests/program_processor_tests/codegens_tests/gtfn_tests/test_gtfn_module.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/test_dace_bindings.py
Due: none

Fix doctests
  docs/user/next/advanced/HackTheToolchain.md
  src/gt4py/next/ffront/foast_to_past.py
  src/gt4py/next/ffront/past_to_itir.py
Due: none

Move definitions to common file
  src/gt4py/next/backend.py
  src/gt4py/next/ffront/past_to_itir.py
  src/gt4py/next/otf/compilation/compiler.py
  src/gt4py/next/otf/definitions.py
  src/gt4py/next/otf/recipes.py
  src/gt4py/next/otf/stages.py
  src/gt4py/next/program_processors/codegens/gtfn/gtfn_module.py
  src/gt4py/next/program_processors/runners/dace/workflow/compilation.py
  src/gt4py/next/program_processors/runners/dace/workflow/translation.py
  src/gt4py/next/program_processors/runners/roundtrip.py
Due: none

More bug fixes
  docs/user/next/advanced/HackTheToolchain.md
  tests/next_tests/unit_tests/program_processor_tests/codegens_tests/gtfn_tests/test_gtfn_module.py
Due: none

Add module docstrings with naming conventions
  src/gt4py/next/ffront/stages.py
Due: none

Transform compile variant hooks
  src/gt4py/next/instrumentation/hook_machinery.py
  src/gt4py/next/instrumentation/hooks.py
  src/gt4py/next/otf/compiled_program.py
  tests/next_tests/integration_tests/feature_tests/instrumentation_tests/test_hooks.py
Due: none

refactor[next]: Rename and refactor toolchain type definitions (#2474)
  docs/user/next/advanced/HackTheToolchain.md
  src/gt4py/next/backend.py
  src/gt4py/next/ffront/decorator.py
  src/gt4py/next/ffront/field_operator_ast.py
  src/gt4py/next/ffront/foast_to_gtir.py
  src/gt4py/next/ffront/foast_to_past.py
  src/gt4py/next/ffront/func_to_foast.py
  src/gt4py/next/ffront/func_to_past.py
  src/gt4py/next/ffront/past_passes/linters.py
  src/gt4py/next/ffront/past_process_args.py
  src/gt4py/next/ffront/past_to_itir.py
  src/gt4py/next/ffront/stages.py
  src/gt4py/next/otf/arguments.py
  src/gt4py/next/otf/binding/nanobind.py
  src/gt4py/next/otf/compilation/build_systems/cmake.py
  src/gt4py/next/otf/compilation/build_systems/compiledb.py
  src/gt4py/next/otf/compilation/cache.py
  src/gt4py/next/otf/compilation/compiler.py
  src/gt4py/next/otf/compiled_program.py
  src/gt4py/next/otf/definitions.py
  src/gt4py/next/otf/recipes.py
  src/gt4py/next/otf/stages.py
  src/gt4py/next/otf/toolchain.py
  src/gt4py/next/program_processors/codegens/gtfn/gtfn_module.py
  src/gt4py/next/program_processors/runners/dace/program.py
  src/gt4py/next/program_processors/runners/dace/workflow/bindings.py
  src/gt4py/next/program_processors/runners/dace/workflow/compilation.py
  src/gt4py/next/program_processors/runners/dace/workflow/translation.py
  src/gt4py/next/program_processors/runners/gtfn.py
  src/gt4py/next/program_processors/runners/roundtrip.py
  src/gt4py/next/typing.py
  tests/next_tests/integration_tests/feature_tests/ffront_tests/test_math_builtin_execution.py
  tests/next_tests/unit_tests/ffront_tests/test_stages.py
  tests/next_tests/unit_tests/otf_tests/compilation_tests/build_systems_tests/conftest.py
  tests/next_tests/unit_tests/otf_tests/test_compiled_program.py
  tests/next_tests/unit_tests/program_processor_tests/codegens_tests/gtfn_tests/test_gtfn_module.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/test_dace_bindings.py
Due: none

Fix tests WIP
  tests/next_tests/integration_tests/feature_tests/instrumentation_tests/test_hooks.py
Due: none

Cleanups and simplifications to metrics implementations
  src/gt4py/next/ffront/decorator.py
  src/gt4py/next/ffront/stages.py
  src/gt4py/next/instrumentation/hook_machinery.py
  src/gt4py/next/instrumentation/metrics.py
  src/gt4py/next/otf/compiled_program.py
Due: none

Update loop struture tests
  tests/cartesian_tests/unit_tests/backend_tests/test_dace_backend.py
Due: none

fixup: fix conflict in uv.lock
  uv.lock
Due: uv-lock

rename test to avoid duplicate name
  tests/cartesian_tests/integration_tests/multi_feature_tests/test_code_generation.py
Due: none

dace update (propagate fvtp2d fix)
  uv.lock
Due: uv-lock

update dace (cleanup from main)
  uv.lock
Due: uv-lock

update DaCe again: fix loop meta read memlets
  uv.lock
Due: uv-lock

update dace again (fix from mainline)
  uv.lock
Due: uv-lock

update dace (removed warnings from main)
  uv.lock
Due: uv-lock

update dace (name propagation)
  uv.lock
Due: uv-lock

No need to define these symbols anymore
  src/gt4py/cartesian/gtc/dace/treeir_to_stree.py
Due: none

WIP: Starting to work on DaCe v2 at the gt4py level
  pyproject.toml
  src/gt4py/cartesian/backend/dace_backend.py
  src/gt4py/cartesian/gtc/dace/passes/push_vertical_map_down.py
  src/gt4py/cartesian/gtc/dace/treeir_to_stree.py
  uv.lock
Due: uv-lock, validate

sdfg freezing: fix input/output registration inside control flow regions
  src/gt4py/cartesian/backend/dace_backend.py
  tests/cartesian_tests/integration_tests/multi_feature_tests/test_code_generation.py
  tests/cartesian_tests/integration_tests/multi_feature_tests/test_dace_parsing.py
Due: none

more work on getting the number of errors down ...
  src/gt4py/cartesian/gtc/dace/treeir_to_stree.py
  uv.lock
Due: uv-lock

Update DaCe (fewer warnings)
  uv.lock
Due: uv-lock

Update cscs-ci.yml
  ci/cscs-ci.yml
Due: none

Address Philip's comments
  src/gt4py/next/program_processors/runners/dace/transformations/fuse_horizontal_conditionblocks.py
  src/gt4py/next/program_processors/runners/dace/transformations/remove_scalar_copies.py
Due: none

Remove `make_dace_backend` and absorb functionality in existing factory
  src/gt4py/next/factory_utils.py
  src/gt4py/next/program_processors/runners/dace/workflow/backend.py
  src/gt4py/next/program_processors/runners/dace/workflow/factory.py
  src/gt4py/next/program_processors/runners/gtfn.py
  tests/next_tests/integration_tests/feature_tests/ffront_tests/test_execution.py
  tests/next_tests/unit_tests/factory_utils.py
Due: none

Fix issues
  src/gt4py/next/program_processors/runners/dace/transformations/fuse_horizontal_conditionblocks.py
Due: none
