Repository GridTools/gt4py: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, validate

uv-lock:
  name: uv-lock
  entry: uv lock
  language: python
  additional_dependencies:
  - uv>=0.6.10
  stages:
  - pre-commit
  description: Automatically run 'uv lock' on your project dependencies
  pass_filenames: false

validate:
  name: validate pyproject.toml
  entry: uv run --frozen --isolated --group dev validate-pyproject pyproject.toml
  language: python
  additional_dependencies:
  - uv>=0.6.10
  stages:
  - pre-commit
  pass_filenames: false

Try a different workaround
  src/gt4py/next/otf/compilation/compiler.py
Due: none

Fix issues with true/false_branch_x_x_x
  src/gt4py/next/program_processors/runners/dace/transformations/fuse_horizontal_conditionblocks.py
  src/gt4py/next/program_processors/runners/dace/transformations/remove_scalar_copies.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_fuse_horizontal_conditionblocks.py
Due: none

WIP: Going multi level.
  src/gt4py/next/program_processors/runners/dace/transformations/concat_where_mapper.py
Due: none

Applied Edoardo's suggestion.
  src/gt4py/next/program_processors/runners/dace/transformations/move_dataflow_into_if_body.py
Due: none

WIP: Starting to work on DaCe v2 at the gt4py level
  pyproject.toml
  src/gt4py/cartesian/backend/dace_backend.py
  src/gt4py/cartesian/gtc/dace/passes/push_vertical_map_down.py
  src/gt4py/cartesian/gtc/dace/treeir_to_stree.py
  uv.lock
Due: uv-lock, validate

more work on getting the number of errors down ...
  src/gt4py/cartesian/gtc/dace/treeir_to_stree.py
  uv.lock
Due: uv-lock

No need to define these symbols anymore
  src/gt4py/cartesian/gtc/dace/treeir_to_stree.py
Due: none

update dace (name propagation)
  uv.lock
Due: uv-lock

Update loop struture tests
  tests/cartesian_tests/unit_tests/backend_tests/test_dace_backend.py
Due: none

update DaCe again: fix loop meta read memlets
  uv.lock
Due: uv-lock

update dace (cleanup from main)
  uv.lock
Due: uv-lock

update dace again (fix from mainline)
  uv.lock
Due: uv-lock

sdfg freezing: fix input/output registration inside control flow regions
  src/gt4py/cartesian/backend/dace_backend.py
  tests/cartesian_tests/integration_tests/multi_feature_tests/test_code_generation.py
  tests/cartesian_tests/integration_tests/multi_feature_tests/test_dace_parsing.py
Due: none

update dace (removed warnings from main)
  uv.lock
Due: uv-lock

dace update (propagate fvtp2d fix)
  uv.lock
Due: uv-lock

After a discussion with Edoardo deleted that part.
  src/gt4py/next/program_processors/runners/dace/transformations/move_dataflow_into_if_body.py
Due: none

fixup: fix conflict in uv.lock
  uv.lock
Due: uv-lock

rename test to avoid duplicate name
  tests/cartesian_tests/integration_tests/multi_feature_tests/test_code_generation.py
Due: none

Add parts of copilot suggestions
  src/gt4py/next/otf/compilation/compiler.py
Due: none

Fix format
  src/gt4py/next/otf/compilation/compiler.py
Due: none

fix[next-dace]: Fix Memory Layout for CPU (#2459)
  src/gt4py/next/program_processors/runners/dace/transformations/auto_optimize.py
  src/gt4py/next/program_processors/runners/dace/transformations/gpu_utils.py
  src/gt4py/next/program_processors/runners/dace/transformations/strides.py
Due: none

Fix leftovers from previous experiments
  src/gt4py/next/otf/compilation/compiler.py
Due: none

This is a bit better.
  src/gt4py/next/program_processors/runners/dace/transformations/concat_where_mapper.py
Due: none

Made some Refactoring changes.
  src/gt4py/next/program_processors/runners/dace/transformations/concat_where_mapper.py
Due: none

Avoid adding instrumention to programs without GPU schedule to avoid compilation issues (update_theta_v)
  src/gt4py/next/program_processors/runners/dace/workflow/translation.py
Due: none

fix[next-dace]: Avoid adding instrumention to programs without GPU schedule (#2473)
  src/gt4py/next/program_processors/runners/dace/workflow/translation.py
Due: none

Small update.
  src/gt4py/next/program_processors/runners/dace/transformations/concat_where_mapper.py
Due: none

Made the find consumer function a bit better.
  src/gt4py/next/program_processors/runners/dace/transformations/concat_where_mapper.py
Due: none

Added new unit test for accessing on the global scope.
  src/gt4py/next/program_processors/runners/dace/transformations/concat_where_mapper.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_concat_where_replacer.py
Due: none

Added a unit test that has multiple things on the top level, i.e. consumers.
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_concat_where_replacer.py
Due: none

docs: Update Slack join link (#2470)
  README.md
Due: none

Apply suggestion from @havogt
  ci/cscs-ci.yml
Due: none

This seems to work, but it is not super nice, also the description of the functions is not good yet.
  src/gt4py/next/program_processors/runners/dace/transformations/concat_where_mapper.py
Due: none

Fix different static args after `with_backend`
  src/gt4py/next/ffront/decorator.py
  src/gt4py/next/otf/options.py
  tests/next_tests/unit_tests/otf_tests/test_compiled_program.py
Due: none

feat[next-dace]: Enable setting gpu_maxnreg attribute in maps (#2464)
  src/gt4py/next/program_processors/runners/dace/transformations/auto_optimize.py
  src/gt4py/next/program_processors/runners/dace/transformations/gpu_utils.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_gpu_utils.py
Due: none

Cleanup
  src/gt4py/next/ffront/decorator.py
  tests/next_tests/integration_tests/feature_tests/dace/test_orchestration.py
  tests/next_tests/integration_tests/feature_tests/ffront_tests/test_compiled_program.py
Due: none

Rename stages
  docs/user/next/advanced/HackTheToolchain.md
  src/gt4py/next/backend.py
  src/gt4py/next/ffront/decorator.py
  src/gt4py/next/ffront/field_operator_ast.py
  src/gt4py/next/ffront/foast_to_gtir.py
  src/gt4py/next/ffront/foast_to_past.py
  src/gt4py/next/ffront/func_to_foast.py
  src/gt4py/next/ffront/func_to_past.py
  src/gt4py/next/ffront/past_passes/linters.py
  src/gt4py/next/ffront/past_process_args.py
  src/gt4py/next/ffront/past_to_itir.py
  src/gt4py/next/ffront/stages.py
  src/gt4py/next/otf/arguments.py
  src/gt4py/next/otf/compiled_program.py
  src/gt4py/next/otf/stages.py
  src/gt4py/next/otf/toolchain.py
  src/gt4py/next/program_processors/runners/dace/program.py
  tests/next_tests/integration_tests/feature_tests/ffront_tests/test_math_builtin_execution.py
  tests/next_tests/unit_tests/ffront_tests/test_stages.py
  tests/next_tests/unit_tests/otf_tests/test_compiled_program.py
Due: none

Cleanup
  src/gt4py/next/ffront/decorator.py
  src/gt4py/next/otf/options.py
  tests/next_tests/integration_tests/feature_tests/ffront_tests/test_compiled_program.py
  tests/next_tests/unit_tests/otf_tests/test_compiled_program.py
Due: none

Path conditions:
  uv-lock: any of: ^(uv\.lock|pyproject\.toml|uv\.toml)$
  validate: any of: ^pyproject\.toml$
