Repository GridTools/gt4py: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, validate

.pre-commit-config.yaml:

minimum_pre_commit_version: 3.8.0
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]
        exclude: tach.toml
      - id: pretty-format-yaml
        args: [--autofix, --preserve-quotes, --indent, "2", --offset, "2"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [markdown, json]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: destroyed-symlinks

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        types: [python]
        args: [--comment-style, "|#|", --license-filepath, ./HEADER.txt, --fuzzy-match-generates-todo]

  # The following hooks use development tools which are already managed by 'uv'.
  # To avoid inconsistencies between the development and the pre-commit
  # environments, we run them as local hooks so we can make sure they use
  # exactly the same versions without duplicating the version info.
  - repo: local
    hooks:
      - &uv-managed-hook
        id: uv-managed-base-hook
        name: uv managed hook
        entry: uv --version
        language: python
        additional_dependencies: [uv>=0.6.10]
        stages: [pre-commit]

      - <<: *uv-managed-hook
        id: uv-lock
        name: uv-lock
        description: "Automatically run 'uv lock' on your project dependencies"
        entry: uv lock
        files: ^(uv\.lock|pyproject\.toml|uv\.toml)$
        pass_filenames: false

      - <<: *uv-managed-hook
        id: ruff-check
        name: ruff checker
        entry: uv run --frozen --isolated --group dev ruff check --force-exclude --fix
        types_or: [python, pyi, jupyter]
        files: ^src/ # TODO(egparedes): add the `tests` folder here
        require_serial: true

      - <<: *uv-managed-hook
        id: ruff-format
        name: ruff formatter
        entry: uv run --frozen --isolated --group dev ruff format --force-exclude
        types_or: [python, pyi, jupyter]
        require_serial: true

      - <<: *uv-managed-hook
        id: tach
        name: tach module dependency checker
        entry: uv run --frozen --isolated --group dev tach check
        pass_filenames: false

      - <<: *uv-managed-hook
        id: mypy
        name: mypy static type checker
        entry: uv run --frozen --isolated --group dev mypy --no-install-types src/
        types_or: [python, pyi]
        pass_filenames: false

      - <<: *uv-managed-hook
        id: validate
        name: validate pyproject.toml
        entry: uv run --frozen --isolated --group dev validate-pyproject pyproject.toml
        files: ^pyproject\.toml$
        pass_filenames: false

Almost final cleanup
  .github/workflows/daily-ci.yml
  noxfile.py
Due: none

use `SLACK_TOKEN` env variable
  .github/workflows/daily-ci.yml
Due: none

Switch to project locked venv for the noxfile script
  .github/workflows/daily-ci.yml
  noxfile.py
Due: none

Switch back to PEP 723 metadata for noxfile
  .github/workflows/daily-ci.yml
  noxfile.py
Due: none

Testing another debugging strategy
  .github/workflows/daily-ci.yml
Due: none

re-adding token
  .github/workflows/daily-ci.yml
Due: none

Apply suggestion from @egparedes
  src/gt4py/next/instrumentation/gpu_profiler.py
Due: none

Finish the PR
  .github/workflows/daily-ci.yml
Due: none

Fix format
  .github/workflows/daily-ci.yml
Due: none

fix typos and reword comments
  .github/workflows/daily-ci.yml
Due: none

feat[next]: GPU profiling (#2508)
  pyproject.toml
  src/gt4py/next/instrumentation/gpu_profiler.py
  src/gt4py/next/instrumentation/hook_machinery.py
  src/gt4py/next/otf/compiled_program.py
  tests/next_tests/integration_tests/feature_tests/instrumentation_tests/test_gpu_profiler.py
  tests/next_tests/integration_tests/feature_tests/instrumentation_tests/test_hooks.py
  tests/next_tests/unit_tests/instrumentation_tests/test_gpu_profiler.py
  tests/next_tests/unit_tests/instrumentation_tests/test_metrics.py
  uv.lock
Due: uv-lock, validate

Remove NVIDIA related options for the loop in kblocking
  src/gt4py/next/program_processors/runners/dace/transformations/loop_blocking.py
Due: none

Respect stencil lifetime for arrays (including but not limited to transient arrays)
  src/gt4py/cartesian/backend/dace_backend.py
Due: none

feat[next-dace]: Clarify use of HIPFLAGS (#2577)
  src/gt4py/next/program_processors/runners/dace/workflow/common.py
Due: none

Fix wrong python version and component selection in some daily CI tasks (#2576)
  .github/workflows/daily-ci.yml
  noxfile.py
  uv.lock
Due: uv-lock

try with normal channel
  .github/workflows/daily-ci.yml
Due: none

Applied comments.
  src/gt4py/next/program_processors/runners/dace/transformations/move_dataflow_into_if_body.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_move_dataflow_into_if_body.py
Due: none

Don't change the maxnreg of a map if it's already set
  src/gt4py/next/program_processors/runners/dace/transformations/gpu_utils.py
Due: none

Handling comments from Philip
  src/gt4py/next/program_processors/runners/dace/transformations/loop_blocking.py
Due: none

Update DaCe version
  pyproject.toml
  uv.lock
Due: uv-lock, validate

feat[next-dace]: Update DaCe version (#2580)
  pyproject.toml
  uv.lock
Due: uv-lock, validate

fix[cartesian] : Respect stencil lifetime for arrays when freezing (#2579)
  src/gt4py/cartesian/backend/dace_backend.py
Due: none

refactor[cartesian]: Avoid dummy DebugInfo in favor of configuration
  src/gt4py/cartesian/backend/dace_backend.py
  uv.lock
Due: uv-lock

refactor[cartesian]: Avoid dummy DebugInfo in favor of configuration (#2581)
  src/gt4py/cartesian/backend/dace_backend.py
  uv.lock
Due: uv-lock

Enable gpu_min_warps_per_eu without having to set launch_bounds
  src/gt4py/next/program_processors/runners/dace/transformations/gpu_utils.py
Due: none

Add min_warps_per_eu setting
  src/gt4py/next/program_processors/runners/dace/transformations/auto_optimize.py
  src/gt4py/next/program_processors/runners/dace/transformations/gpu_utils.py
Due: none

Use dace branch
  pyproject.toml
  uv.lock
Due: uv-lock, validate

Fix syntax warnings
  src/gt4py/next/config.py
Due: none

switch to dace:main
  pyproject.toml
  src/gt4py/next/program_processors/runners/dace/workflow/common.py
  uv.lock
Due: uv-lock, validate

build[cartesian]: update DaCe version for cartesian
  uv.lock
Due: uv-lock

build[cartesian]: update DaCe version for cartesian (#2584)
  uv.lock
Due: uv-lock

Use `utf-8` to allow non ascii code in docstrings for generated code
  src/gt4py/cartesian/backend/base.py
  src/gt4py/cartesian/backend/module_generator.py
  src/gt4py/cartesian/caching.py
  src/gt4py/cartesian/stencil_builder.py
Due: none

Switched back to the normal GT4Py Specific DaCe version.
  pyproject.toml
  uv.lock
Due: uv-lock, validate

Why does the index does not work.
  pyproject.toml
  uv.lock
Due: uv-lock, validate

Deleting the UV cache did the trick.
  pyproject.toml
  uv.lock
Due: uv-lock, validate

Started with the broadcast inline transformation.
  src/gt4py/next/program_processors/runners/dace/transformations/__init__.py
  src/gt4py/next/program_processors/runners/dace/transformations/auto_optimize.py
  src/gt4py/next/program_processors/runners/dace/transformations/broadcast.py
Due: none

refactor[next]: otf split build and load
  src/gt4py/next/otf/compilation/compiler.py
  src/gt4py/next/otf/definitions.py
  src/gt4py/next/otf/recipes.py
  src/gt4py/next/otf/stages.py
  src/gt4py/next/program_processors/formatters/gtfn.py
  src/gt4py/next/program_processors/runners/dace/program.py
  src/gt4py/next/program_processors/runners/dace/workflow/backend.py
  src/gt4py/next/program_processors/runners/dace/workflow/compilation.py
  src/gt4py/next/program_processors/runners/dace/workflow/factory.py
  src/gt4py/next/program_processors/runners/gtfn.py
  tests/next_tests/integration_tests/feature_tests/ffront_tests/test_temporaries_with_sizes.py
  tests/next_tests/integration_tests/feature_tests/iterator_tests/test_builtins.py
  tests/next_tests/unit_tests/program_processor_tests/codegens_tests/gtfn_tests/test_gtfn_module.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/test_gtfn.py
Due: none

Fixed some wrong names.
  src/gt4py/next/program_processors/runners/dace/transformations/broadcast.py
Due: none

Fix
  src/gt4py/next/program_processors/runners/dace/transformations/broadcast.py
Due: none

In C++ Speak it compiles but the test does not pass.
  src/gt4py/next/program_processors/runners/dace/transformations/broadcast.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_broadcast.py
Due: none
