Repository GridTools/gt4py: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, validate

.pre-commit-config.yaml:

minimum_pre_commit_version: 3.8.0
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]
        exclude: tach.toml
      - id: pretty-format-yaml
        args: [--autofix, --preserve-quotes, --indent, "2", --offset, "2"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [markdown, json]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: destroyed-symlinks

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        types: [python]
        args: [--comment-style, "|#|", --license-filepath, ./HEADER.txt, --fuzzy-match-generates-todo]

  # The following hooks use development tools which are already managed by 'uv'.
  # To avoid inconsistencies between the development and the pre-commit
  # environments, we run them as local hooks so we can make sure they use
  # exactly the same versions without duplicating the version info.
  - repo: local
    hooks:
      - &uv-managed-hook
        id: uv-managed-base-hook
        name: uv managed hook
        entry: uv --version
        language: python
        additional_dependencies: [uv>=0.6.10]
        stages: [pre-commit]

      - <<: *uv-managed-hook
        id: uv-lock
        name: uv-lock
        description: "Automatically run 'uv lock' on your project dependencies"
        entry: uv lock
        files: ^(uv\.lock|pyproject\.toml|uv\.toml)$
        pass_filenames: false

      - <<: *uv-managed-hook
        id: ruff-check
        name: ruff checker
        entry: uv run --frozen --isolated --group dev ruff check --force-exclude --fix
        types_or: [python, pyi, jupyter]
        files: ^src/ # TODO(egparedes): add the `tests` folder here
        require_serial: true

      - <<: *uv-managed-hook
        id: ruff-format
        name: ruff formatter
        entry: uv run --frozen --isolated --group dev ruff format --force-exclude
        types_or: [python, pyi, jupyter]
        require_serial: true

      - <<: *uv-managed-hook
        id: tach
        name: tach module dependency checker
        entry: uv run --frozen --isolated --group dev tach check
        pass_filenames: false

      - <<: *uv-managed-hook
        id: mypy
        name: mypy static type checker
        entry: uv run --frozen --isolated --group dev mypy --no-install-types src/
        types_or: [python, pyi]
        pass_filenames: false

      - <<: *uv-managed-hook
        id: validate
        name: validate pyproject.toml
        entry: uv run --frozen --isolated --group dev validate-pyproject pyproject.toml
        files: ^pyproject\.toml$
        pass_filenames: false

update uv
  ci/cscs-ci.yml
Due: none

fix[cartesian]: Scalarization of temporaries (#2558)
  src/gt4py/cartesian/gtc/passes/oir_optimizations/temporaries.py
  src/gt4py/cartesian/gtc/passes/oir_optimizations/utils.py
  tests/cartesian_tests/unit_tests/test_gtc/test_passes/test_oir_optimizations/test_temporaries.py
  tests/cartesian_tests/unit_tests/test_gtc/test_passes/test_oir_optimizations/test_utils.py
Due: none

try rocm binary wheel
  pyproject.toml
  uv.lock
Due: uv-lock, validate

review v2
  src/gt4py/cartesian/frontend/gtscript_frontend.py
Due: none

disable test for hip cupy14.0.1
  tests/next_tests/integration_tests/multi_feature_tests/ffront_tests/test_ffront_fvm_nabla.py
Due: none

Move last step of DefinitionIR building to it's own file
  src/gt4py/cartesian/frontend/defir_builder.py
  src/gt4py/cartesian/frontend/gtscript_frontend.py
Due: none

Fix typo
  src/gt4py/cartesian/frontend/defir_builder.py
Due: none

Fix lint, circumventing the `StencilDefinition` overloaded "attribclass"
  src/gt4py/cartesian/frontend/defir_builder.py
Due: none

Restore default constructor + type ignore out
  src/gt4py/cartesian/frontend/defir_builder.py
Due: none

Releasing v1.1.9
  CHANGELOG.md
  pyproject.toml
  src/gt4py/__about__.py
Due: uv-lock, validate

Runtime error in case of mismatch on array size/stride
  src/gt4py/next/program_processors/runners/dace/sdfg_callable.py
Due: none

build: add extra cuda13, rocm7; remove cuda11, rocm4,5 (#2561)
  ci/cscs-ci.yml
  noxfile.py
  pyproject.toml
  tests/next_tests/integration_tests/multi_feature_tests/ffront_tests/test_ffront_fvm_nabla.py
  uv.lock
Due: uv-lock, validate

Releasing v1.1.9 (#2562)
  CHANGELOG.md
  pyproject.toml
  src/gt4py/__about__.py
Due: uv-lock, validate

move int precision to vertical only
  src/gt4py/cartesian/frontend/gtscript_frontend.py
Due: none

fix[cartesian]: Fix higher dimensional field access in runtime-intervals (#2553)
  src/gt4py/cartesian/frontend/gtscript_frontend.py
  tests/cartesian_tests/unit_tests/frontend_tests/test_gtscript_frontend.py
Due: none

Pass `sources` to the `StencilDefinition` Better type hinting
  src/gt4py/cartesian/frontend/defir_builder.py
  src/gt4py/cartesian/frontend/defir_to_gtir.py
Due: none

feat[cartesian]: All data dimensions field RHS access needs to be fully defined (#2555)
  src/gt4py/cartesian/frontend/defir_builder.py
  src/gt4py/cartesian/frontend/defir_to_gtir.py
  src/gt4py/cartesian/frontend/gtscript_frontend.py
  tests/cartesian_tests/unit_tests/frontend_tests/test_gtscript_frontend.py
Due: none

refactor[cartesian]: fix some type errors in defir_to_gtir
  pyproject.toml
  src/gt4py/cartesian/frontend/defir_to_gtir.py
Due: uv-lock, validate

this override is apparently unused
  pyproject.toml
Due: uv-lock, validate

one more file
  pyproject.toml
  src/gt4py/cartesian/frontend/nodes.py
Due: uv-lock, validate

Using the new version.
  pyproject.toml
  uv.lock
Due: uv-lock, validate

Test the fixed version.
  pyproject.toml
  uv.lock
Due: uv-lock, validate

Try this.
  pyproject.toml
  uv.lock
Due: uv-lock, validate

Try this new version.
  uv.lock
Due: uv-lock

Test this version.
  uv.lock
Due: uv-lock

New version. Again I know.
  uv.lock
Due: uv-lock

Again a new version.
  uv.lock
Due: uv-lock

Sorting SDFG for deterministic code gen
  src/gt4py/next/program_processors/runners/dace/transformations/auto_optimize.py
  src/gt4py/next/program_processors/runners/dace/transformations/concat_where_mapper.py
  src/gt4py/next/program_processors/runners/dace/transformations/fuse_horizontal_conditionblocks.py
  src/gt4py/next/program_processors/runners/dace/transformations/map_fusion_utils.py
  src/gt4py/next/program_processors/runners/dace/transformations/utils.py
  src/gt4py/next/program_processors/runners/dace/workflow/common.py
Due: none

New version.
  uv.lock
Due: uv-lock

New fix.
  uv.lock
Due: uv-lock

refactor[cartesian]: fix types in node_util.py
  pyproject.toml
  src/gt4py/cartesian/frontend/node_util.py
Due: uv-lock, validate

Next version.
  uv.lock
Due: uv-lock

Integrated the new feature.
  src/gt4py/next/program_processors/runners/dace/workflow/common.py
Due: none

WIP: started to work on gtscript_frontend
  pyproject.toml
  src/gt4py/cartesian/frontend/gtscript_frontend.py
  src/gt4py/cartesian/frontend/nodes.py
Due: uv-lock, validate

improved error message for out of bounds offset reads in a stencil
  src/gt4py/cartesian/stencil_object.py
Due: none

updated AUTHORS.md
  AUTHORS.md
Due: none

refactor[cartesian]: Better error message for out of bound read on stencils (#2567)
  AUTHORS.md
  src/gt4py/cartesian/stencil_object.py
Due: none

QA fixes
  src/gt4py/next/instrumentation/gpu_profiler.py
  src/gt4py/next/instrumentation/hook_machinery.py
  tests/next_tests/integration_tests/feature_tests/instrumentation_tests/test_gpu_profiler.py
  tests/next_tests/integration_tests/feature_tests/instrumentation_tests/test_hooks.py
  tests/next_tests/integration_tests/multi_feature_tests/ffront_tests/test_ffront_fvm_nabla.py
  uv.lock
Due: uv-lock

Fix cuda extra compile args
  src/gt4py/cartesian/config.py
Due: none

Updated the next version.
  uv.lock
Due: uv-lock
