Repository GridTools/gt4py: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, validate

uv-lock:
  name: uv-lock
  entry: uv lock
  language: python
  additional_dependencies:
  - uv>=0.6.10
  stages:
  - pre-commit
  description: Automatically run 'uv lock' on your project dependencies
  pass_filenames: false

validate:
  name: validate pyproject.toml
  entry: uv run --frozen --isolated --group dev validate-pyproject pyproject.toml
  language: python
  additional_dependencies:
  - uv>=0.6.10
  stages:
  - pre-commit
  pass_filenames: false

Refactoring of scripts infrastructure
  .github/workflows/test-components.yml
  .pre-commit-config.yaml
  ci/cscs-common.yml
  dev-scripts.py
  scripts-cli.py
  scripts/__init__.py
  scripts/_common.py
  scripts/cscs_ci.py
  scripts/github_ci.py
  scripts/nox_sessions.py
  scripts/update.py
Due: none

Debug pipelines 1
  ci/cscs-ci.yml
  ci/cscs-common.yml
Due: none

Debug
  ci/cscs-common.yml
Due: none

feat[next]: make compiledb project relocatable (#1969)
  src/gt4py/next/otf/compilation/build_systems/compiledb.py
  tests/next_tests/unit_tests/otf_tests/compilation_tests/build_systems_tests/test_compiledb.py
Due: none

WIP
  ci/cscs-common.yml
Due: none

ci: job specific timelimit
  ci/cscs-ci.yml
Due: none

Update cscs-ci.yml
  ci/cscs-ci.yml
Due: none

try more parallelism (except dace)
  ci/cscs-ci.yml
Due: none

DEBUG base image build
  ci/cscs-common.yml
Due: none

Apply suggestions from code review
  ci/cscs-ci.yml
Due: none

DEBUG generating test pipeline
  ci/cscs-ci.yml
  ci/cscs-common.yml
  ci/cscs-test-template.yml
Due: none

more Debug
  ci/cscs-ci.yml
  ci/cscs-common.yml
  ci/cscs-test-template.yml
Due: none

fix uv path
  ci/cscs-common.yml
Due: none

fix typo
  ci/cscs-common.yml
Due: none

Refactor scripts to let uv use inline dependencies
  pyproject.toml
  scripts-cli.py
  scripts/cscs_ci.py
  scripts/github_ci.py
  scripts/update.py
  uv.lock
Due: uv-lock, validate

Fix missing python req in scripts
  scripts-cli.py
Due: none

Fix pipeline scripts
  .github/workflows/test-components.yml
  ci/cscs-common.yml
Due: none

fix yq installation
  ci/cscs-common.yml
Due: none

Make yq executable
  ci/cscs-common.yml
Due: none

try uname -m
  ci/cscs-common.yml
Due: none

remove uvx again
  ci/cscs-common.yml
Due: none

Debug target branch
  ci/cscs-common.yml
Due: none

use mempool if not persistent
  src/gt4py/next/program_processors/runners/dace/transformations/auto_optimize.py
Due: none

update parent on NestedSDFG node
  src/gt4py/next/program_processors/runners/dace/transformations/move_dataflow_into_if_body.py
Due: none

update NestedSDFG parent in MoveDataflowIntoIfBody
  src/gt4py/next/program_processors/runners/dace/transformations/move_dataflow_into_if_body.py
Due: none

unrelated cleanup
  src/gt4py/storage/cartesian/layout.py
Due: none

fix test_cli (probably deleted soon)
  tests/cartesian_tests/unit_tests/test_cli.py
Due: none

fix typing after xxhash upgrade
  src/gt4py/eve/utils.py
  src/gt4py/next/ffront/stages.py
  uv.lock
Due: uv-lock

update cupy version for python 3.13
  ci/cscs-ci.yml
Due: none

bumpy default cupy-cuda12x
  uv.lock
Due: uv-lock

bumpy minimum numpy to latest 1.x
  pyproject.toml
  uv.lock
Due: uv-lock, validate

bump typing-extension and atlas4py minimum
  pyproject.toml
  uv.lock
Due: uv-lock, validate

bump balck
  pyproject.toml
  uv.lock
Due: uv-lock, validate

formatting
  uv.lock
Due: uv-lock

ci: job specific timelimit (#2110)
  ci/cscs-ci.yml
Due: none

address review comments
  noxfile.py
Due: none

feat: Python 3.13 support (#2108)
  .github/actions/get-python-versions/action.yml
  .github/workflows/daily-ci.yml
  .python-versions
  ci/cscs-ci.yml
  noxfile.py
  pyproject.toml
  src/gt4py/eve/utils.py
  src/gt4py/next/ffront/stages.py
  src/gt4py/next/type_system/type_translation.py
  src/gt4py/storage/cartesian/layout.py
  tests/cartesian_tests/unit_tests/test_cli.py
  uv.lock
Due: uv-lock, validate

Path conditions:
  uv-lock: any of: ^(uv\.lock|pyproject\.toml|uv\.toml)$
  validate: any of: ^pyproject\.toml$
