Repository GridTools/gt4py: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, validate

.pre-commit-config.yaml:

minimum_pre_commit_version: 3.8.0
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]
        exclude: tach.toml
      - id: pretty-format-yaml
        args: [--autofix, --preserve-quotes, --indent, "2", --offset, "2"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [markdown, json]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: destroyed-symlinks

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        types: [python]
        args: [--comment-style, "|#|", --license-filepath, ./HEADER.txt, --fuzzy-match-generates-todo]

  # The following hooks use development tools which are already managed by 'uv'.
  # To avoid inconsistencies between the development and the pre-commit
  # environments, we run them as local hooks so we can make sure they use
  # exactly the same versions without duplicating the version info.
  - repo: local
    hooks:
      - &uv-managed-hook
        id: uv-managed-base-hook
        name: uv managed hook
        entry: uv --version
        language: python
        additional_dependencies: [uv>=0.6.10]
        stages: [pre-commit]

      - <<: *uv-managed-hook
        id: uv-lock
        name: uv-lock
        description: "Automatically run 'uv lock' on your project dependencies"
        entry: uv lock
        files: ^(uv\.lock|pyproject\.toml|uv\.toml)$
        pass_filenames: false

      - <<: *uv-managed-hook
        id: ruff-check
        name: ruff checker
        entry: uv run --frozen --isolated --group dev ruff check --force-exclude --fix
        types_or: [python, pyi, jupyter]
        files: ^src/ # TODO(egparedes): add the `tests` folder here
        require_serial: true

      - <<: *uv-managed-hook
        id: ruff-format
        name: ruff formatter
        entry: uv run --frozen --isolated --group dev ruff format --force-exclude
        types_or: [python, pyi, jupyter]
        require_serial: true

      - <<: *uv-managed-hook
        id: tach
        name: tach module dependency checker
        entry: uv run --frozen --isolated --group dev tach check
        pass_filenames: false

      - <<: *uv-managed-hook
        id: mypy
        name: mypy static type checker
        entry: uv run --frozen --isolated --group dev mypy --no-install-types src/
        types_or: [python, pyi]
        pass_filenames: false

      - <<: *uv-managed-hook
        id: validate
        name: validate pyproject.toml
        entry: uv run --frozen --isolated --group dev validate-pyproject pyproject.toml
        files: ^pyproject\.toml$
        pass_filenames: false

Undo comments
  .github/workflows/daily-ci.yml
Due: none

Set minimum versions for dependencies
  pyproject.toml
  uv.lock
Due: uv-lock, validate

Added tests.
  src/gt4py/next/program_processors/runners/dace/transformations/move_dataflow_into_if_body.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_move_dataflow_into_if_body.py
Due: none

Final comments cleanups
  .github/workflows/daily-ci.yml
Due: none

Put back the uv cache to make copilot happy
  .github/workflows/daily-ci.yml
Due: none

Updated some tests.
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_move_dataflow_into_if_body.py
Due: none

fix tests
  src/gt4py/cartesian/frontend/gtscript_frontend.py
  tests/cartesian_tests/unit_tests/frontend_tests/test_gtscript_frontend.py
Due: none

add slice test
  tests/cartesian_tests/unit_tests/frontend_tests/test_gtscript_frontend.py
Due: none

Update noxfile.py
  noxfile.py
Due: none

fix stencil defn tests as well
  tests/cartesian_tests/integration_tests/multi_feature_tests/stencil_definitions.py
Due: none

fix partial write test
  tests/cartesian_tests/integration_tests/multi_feature_tests/test_suites.py
Due: none

Added more optimization hooks and export _add_local_double_buffering_to
  src/gt4py/next/program_processors/runners/dace/transformations/__init__.py
  src/gt4py/next/program_processors/runners/dace/transformations/auto_optimize.py
Due: none

Add a `DataDimensionsChecker` _before_ the `UnrollVectorAssignement` Add unit tests to test forbidden not full indexation of data dimensions
  src/gt4py/cartesian/frontend/defir_to_gtir.py
  src/gt4py/cartesian/frontend/gtscript_frontend.py
  tests/cartesian_tests/unit_tests/frontend_tests/test_gtscript_frontend.py
Due: none

simplify SDFG freezing
  src/gt4py/cartesian/backend/dace_backend.py
Due: none

update dace (InlineSDFG fix)
  uv.lock
Due: uv-lock

wip: fix dace passes for remapping with different loop layout
  src/gt4py/cartesian/backend/dace_backend.py
  src/gt4py/cartesian/gtc/dace/passes/push_vertical_map_down.py
  src/gt4py/cartesian/gtc/dace/passes/swap_horizontal_maps.py
  tests/cartesian_tests/unit_tests/test_gtc/dace/passes/__init__.py
  tests/cartesian_tests/unit_tests/test_gtc/dace/passes/test_push_vertical_map_down.py
  tests/cartesian_tests/unit_tests/test_gtc/dace/passes/test_swap_horizontal_maps.py
  tests/cartesian_tests/unit_tests/test_gtc/dace/passes/test_utils.py
Due: none

remove debug code again
  src/gt4py/cartesian/backend/dace_backend.py
Due: none

check strides and tile sizes when swapping I/J
  tests/cartesian_tests/unit_tests/test_gtc/dace/passes/test_swap_horizontal_maps.py
Due: none

ci: Fix daily CI job with explicit uv lock upgrades (#2552)
  .github/workflows/daily-ci.yml
Due: none

feat[cartesian]: Remove redundant region syntax (#2554)
  src/gt4py/cartesian/frontend/gtscript_frontend.py
  tests/cartesian_tests/integration_tests/multi_feature_tests/stencil_definitions.py
  tests/cartesian_tests/integration_tests/multi_feature_tests/test_suites.py
  tests/cartesian_tests/unit_tests/frontend_tests/test_gtscript_frontend.py
Due: none

reviewer's comments
  src/gt4py/cartesian/frontend/gtscript_frontend.py
  tests/cartesian_tests/unit_tests/frontend_tests/test_gtscript_frontend.py
Due: none

Move Unroller first to do only RHS checks
  src/gt4py/cartesian/frontend/gtscript_frontend.py
Due: none

Better error
  src/gt4py/cartesian/frontend/defir_to_gtir.py
  src/gt4py/cartesian/frontend/gtscript_frontend.py
  tests/cartesian_tests/unit_tests/frontend_tests/test_gtscript_frontend.py
Due: none

ci: Set Kubernetes memory request and limit to 64Gi on beverin
  ci/cscs-ci.yml
Due: none

ci: Set Kubernetes memory request and limit to 64Gi on beverin (#2556)
  ci/cscs-ci.yml
Due: none

suppress dace progress both in transformations and code generation
  src/gt4py/next/program_processors/runners/dace/transformations/auto_optimize.py
  src/gt4py/next/program_processors/runners/dace/workflow/common.py
Due: none

fix[cartesian]: loop reordering in schedule tree (#2546)
  src/gt4py/cartesian/backend/dace_backend.py
  src/gt4py/cartesian/gtc/dace/passes/push_vertical_map_down.py
  src/gt4py/cartesian/gtc/dace/passes/swap_horizontal_maps.py
  tests/cartesian_tests/unit_tests/test_gtc/dace/passes/__init__.py
  tests/cartesian_tests/unit_tests/test_gtc/dace/passes/test_push_vertical_map_down.py
  tests/cartesian_tests/unit_tests/test_gtc/dace/passes/test_swap_horizontal_maps.py
  tests/cartesian_tests/unit_tests/test_gtc/dace/passes/test_utils.py
  uv.lock
Due: uv-lock

fix[cartesian]: Scalarization of temporaries
  src/gt4py/cartesian/gtc/passes/oir_optimizations/temporaries.py
  src/gt4py/cartesian/gtc/passes/oir_optimizations/utils.py
  tests/cartesian_tests/unit_tests/test_gtc/test_passes/test_oir_optimizations/test_temporaries.py
Due: none

edit
  src/gt4py/next/program_processors/runners/dace/workflow/common.py
Due: none

fixup: propagate conditional to tests
  tests/cartesian_tests/unit_tests/test_gtc/test_passes/test_oir_optimizations/test_temporaries.py
  tests/cartesian_tests/unit_tests/test_gtc/test_passes/test_oir_optimizations/test_utils.py
Due: none

update dace version
  pyproject.toml
  uv.lock
Due: uv-lock, validate

limit cupy for rocm6
  pyproject.toml
  uv.lock
Due: uv-lock, validate

fix[next]: Don't format non-visible Python code
  src/gt4py/next/program_processors/runners/dace/workflow/bindings.py
Due: none

adjust codegen reference test
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/test_dace_bindings.py
Due: none

fix[next-dace]: Suppress dace progress both in transformations and code generation (#2557)
  src/gt4py/next/program_processors/runners/dace/transformations/auto_optimize.py
  src/gt4py/next/program_processors/runners/dace/workflow/common.py
Due: none

build: update frozen dependencies (#2548)
  noxfile.py
  pyproject.toml
  src/gt4py/next/iterator/transforms/infer_domain.py
  src/gt4py/next/iterator/type_system/inference.py
  src/gt4py/next/program_processors/codegens/gtfn/gtfn_ir.py
  src/gt4py/next/program_processors/runners/dace/lowering/gtir_dataflow.py
  src/gt4py/next/program_processors/runners/dace/lowering/gtir_to_sdfg.py
  src/gt4py/next/program_processors/runners/dace/lowering/gtir_to_sdfg_scan.py
  src/gt4py/next/utils.py
  tests/cartesian_tests/unit_tests/test_gtc/test_gtir_upcaster.py
  tests/next_tests/integration_tests/feature_tests/ffront_tests/test_execution.py
  tests/next_tests/integration_tests/feature_tests/ffront_tests/test_gt4py_builtins.py
  tests/next_tests/integration_tests/feature_tests/ffront_tests/test_math_unary_builtins.py
  tests/next_tests/integration_tests/multi_feature_tests/fvm_nabla_setup.py
  tests/next_tests/unit_tests/iterator_tests/ir_utils_test.py/test_misc.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/transformation_tests/test_loop_blocking.py
  tests/next_tests/unit_tests/test_constructors.py
  tests/next_tests/unit_tests/test_utils.py
  uv.lock
Due: uv-lock, validate

fix[next]: Don't format non-visible Python code (#2560)
  src/gt4py/next/program_processors/runners/dace/workflow/bindings.py
  tests/next_tests/unit_tests/program_processor_tests/runners_tests/dace_tests/test_dace_bindings.py
Due: none

build: add extra cuda13, rocm7; remove cuda11, rocm4,5
  ci/cscs-ci.yml
  pyproject.toml
  uv.lock
Due: uv-lock, validate

switch ci to rocm7
  ci/cscs-ci.yml
  noxfile.py
  pyproject.toml
  uv.lock
Due: uv-lock, validate

fix rcom7 extra
  ci/cscs-ci.yml
Due: none
